{% extends "base.html" %}

{% block content%}
    <div class="content-section">
        <form method="POST" acction="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}

                        {{ form.email(class="form-control form-control-lg is-invalid") }}   

                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}

                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}

                        {{ form.password(class="form-control form-control-lg is-invalid") }}   

                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}

                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-check">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.submit_button(class="btn btn-outline-info") }}
                </div>
                <small class="text-muted ml-2">
                    <a href="#">
                        forgot password?
                    </a>
                </small>
                <div calss="border-top pt-3">
                    <small class="text-muted">
                        Need an account? <a class="ml-2" href="{{ url_for('register') }}">register</a>
                    </small>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- <div calss="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="m-2" href="url_for('login')"></a>
        </small>
    </div> -->
{% endblock %}